* {
	box-sizing: border-box;
}

body {
	position: relative;
	min-height: 100vh;
}

i {
	color: #2F80ED;
}

.img {
	background-position: center !important;
	background-size: cover !important;
}

img {
	object-fit: cover;
	border-radius: 5px;
}

[v-cloak] {
	display: none;
}

.background {
	background: #f5f5f5;
}

.h.background {
	background: #333c4c;
	color: white;
	width: 100%;
	padding: 10px 0;
	font-family: opensans-regular;
	font-size: 15px;
	text-align: center;
}

.t-a-center {
	text-align: center;
}

.t-a-left {
	text-align: left;
}

.t-a-right {
	text-align: right;
}

.h-auto {
	margin-right: auto;
	margin-left: auto;
}

.m-top {
	margin-top: 20px
}

.content {
	width: 100%;
	max-width: 1180px;
	margin-right: auto;
	margin-left: auto;
	padding: 0px 10px;
}

.border {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.f-size {
	width: 100%;
}

.white {
	color: white;
}

.black {
	color: black;
}

.btn {
	user-select: none;
	cursor: pointer;
}

.btn.styles {
	font-family: gotham-b;
	font-size: 14px;
	width: fit-content;
	padding: 20px;
	border-radius: 5px;
	color: white;
}

.btn.blue {
	background: #1f70de;
}

.btn.blue:hover {
	background: #529cff;
}

.btn.blue:active, .btn.blue.active {
	background: #2870d1;
}

.btn.disabled {
	background: #828282;
}

.v-center {
	align-items: center;
}

.flex {
	display: flex;
}

.i-flex {
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
}

.v-a-center {
	vertical-align: middle;
}

.flex.column {
	flex-direction: column;
}

.flex.wrap {
	flex-wrap: wrap;
}

.flex.between {
	justify-content: space-between;
}

.flex.around {
	justify-content: space-around;
}

.j-c-left {
	justify-content: left;
}

.flex>.grow {
	flex: 1 0;
}

.h1, h1 {
	font-family: ma-b;
	font-size: 40px;
	line-height: 49px;
	margin: 20px 0;
}

.h2, h2 {
	font-family: ma-b;
	font-size: 35px;
	line-height: 45px;
	margin: 10px 0;
}

.h3, h3 {
	margin: 10px 0;
	font-family: ma-b;
	font-size: 25px;
	line-height: 30px;
}
.h4, h4 {
	font-family: ma-b;
	font-size: 16px;
	line-height: 20px;
}
p {
	font-family: gotham-r;
	font-size: 16px;
	line-height: 25px;
}

ul.style {
	padding-left: 40px;
	line-height: 25px;
	font-size: 16px;
	color: grey;
}

ul.style li {
	position: relative;
	padding: 10px 0;
}

ul.style li:before {
	content: "";
	width: 10px;
	height: 10px;
	background-color: #2f90f2;
	position: absolute;
	left: -20px;
	top: 20px;
	border-radius: 20px;
}

@media(max-width: 960px) {
	.column-960 {
		flex-direction: column !important;
	}
	.f-size-960 {
		width: 100% !important;
	}
	.t-a-center-960 {
		text-align: center !important;
	}
}

@media(max-width: 720px) {
	.column-720 {
		flex-direction: column !important;
	}
	.f-size-720 {
		width: 100% !important;
	}
	.t-a-center-720 {
		text-align: center !important;
	}
}

@media(max-width: 540) {
	.column-540 {
		flex-direction: column !important;
	}
	.f-size-540 {
		width: 100% !important;
	}
	.t-a-center-540 {
		text-align: center !important;
	}
}