@media (max-width: 720px) {
    .product {
        .card {
            img {
                width: 100%;
            }
        }
        .left {
            width: 100%;
            padding: 0;
        }
        .right {
            display: none;
        }
    }
}