body {
	font-family: gotham-r;
}
a{
	color: black;
	text-decoration: none;
}
header {
	background: white;
}
header .inner{
	padding: 20px 0;
}
header .block {
	font-size: 14px;
	line-height: 20px;
}
header .block#first {
	max-width: 410px;
}
header .block#first .title{
	font-family: gotham-b;
	width: 100%;
	font-size: 30px;
}
header .block#first .text{
	
}

header .block#second {
	max-width: 210px;
	text-align: center;
	font-size: 14px;
}
header .block#third {
	text-align: right;
}
header .block#third .text{
	padding: 5px 0;
}
header .block#third .text img{
	padding: 5px;
	height: 100%;
}
header i {
	font-size: 120%;
	padding: 0 10px;
}
header nav ul li{
	padding: 20px;
	font-size: 16px;
	border-top:2px solid rgba(0,0,0,0);
	border-bottom:2px solid rgba(0,0,0,0);
}
header nav ul li:hover, header nav ul li.active{
	transition: 0.2s;
	color:#2F80ED;
	border-top:2px solid #2F80ED;
}
.slider {
	padding-bottom: 50px;
}
.slider ul li {
	width: 100%;
	height: 400px;
	background: pink;
}
.diagnostics {
	padding: 40px 0;
}
.catalog {
	padding-bottom: 20px;
}
.catalog .item {
	margin-top: 20px;
	width: 360px;
}
.catalog .item .block{
	width: 100%;
	height: 235px;
	background: silver;
	text-align: center;
	color: white;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
}
.catalog .item .block .card{
	background: rgba(0,0,0,0.5);
	padding-top: 50px;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 100%;
	transition: 0.3s;
}
.catalog .item .block:hover .card{
	top: 0;
}
.catalog .item .block .card .btn{

	background: #2F80ED;
	font-family: gotham-b;
	font-size: 14px;
	width: fit-content;
	padding: 20px;
	border-radius: 5px;
}
.catalog .item  .block .card .text{
	padding: 30px 0 0;
	font-size: 14px;
	/*font-family: gotham-l;*/
}
.catalog .item .title{
	padding: 10px 0;
}
.garant {
	padding: 40px 0;
}
.garant .item {
	width: 200px;
	line-height: 20px;
}
.garant .item img{
	width: fit-content;
	padding: 10px 0;
}
.garant .item .h {
	font-size: 20px;
	padding: 10px 0;
}
.garant .item .text {
	font-family: gotham-l;
	font-size: 13px;
	color: #828282;
	padding: 10px 0;
}
footer {
	   background: #070E20;
    min-height: 200px;
    position: absolute;
    top: 100%;
}